<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<h2>Author</h2>
<p>Pratik Arya</p>

<b>Objectives:</b>
<ul>
    <li>Data Science Open Scource tools commonly used.</li>
</ul>
<ul>
    <li>Data Science Libraries in Python like NumPy, Pandas, Matplotlib.</li>
</ul>
<ul>
    <li>Most popular programming languages used in Data Science.</li>
</ul>
<ul>
    <li>How Data Science is transforming the industries whether its healthcare or software companies.</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
</ol>

<html>
<header>
</header>

<body>
        <hr>
        <table border="1px">
            <tr>
                <td><b>Data Science Tools</b></td>
            </tr>
            <tr>
                <td>Jupyter Notebook</td>
            </tr>
            <tr>
                <td>Apache Hadoop</td>
            </tr>
            <tr>
                <td>Tensorflow</td>
            </tr>
        </table>
        <br>
        <hr>
</body>
</html>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [22]:
print("This a simple arithmetic expression to mutiply then add integers")
print((3*4)+5)

This a simple arithmetic expression to mutiply then add integers
17

In [23]:
print("This will convert 200 minutes to hours by diving by 60")
print(200/60, "hrs")

This will convert 200 minutes to hours by diving by 60
3.3333333333333335 hrs